version: "3.8"

services:
  n8n:
    image: n8nio/n8n
    restart: always
    ports:
      - "5678:5678"
    environment:
      - N8N_BASIC_AUTH_ACTIVE=true
      - N8N_BASIC_AUTH_USER=admin
      - N8N_BASIC_AUTH_PASSWORD=admin
      - TZ=Europe/Warsaw
      - WEBHOOK_URL=https://aimee-overstimulative-valda.ngrok-free.dev
    volumes:
      - ./n8n_data:/home/node/.n8n